@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, .font-display {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: normal;
}